<f:layout name="Main"/>

<f:section name="Main">

	<f:render partial="SearchForm"/>

	<div class="clear2"></div>

	<section>
		<header class="collection mathematicians_collection-header">
			<f:link.external uri="http://owpdb.mfo.de" target="_blank">
				<f:image src="EXT:mathematicians/Resources/Public/Images/ow-logo.gif"
				         alt="Logo: Photo Collection Oberwolfach"/>
			</f:link.external>
			<h1>Oberwolfach Photo Collection</h1>
		</header>
		<article id="mycarousel" class="jcarousel-skin-ie7 owResult">
			<p>
				<f:translate key="LLL:EXT:mathematicians/Resources/Private/Language/locallang.xml:pi1_ow-intro"/>
			</p>
		</article>
	</section>

	<section>
		<header class="collection mathematicians_collection-header">
			<a href="http://genealogy.mathematik.uni-bielefeld.de/genealogy/" target="_blank">
				<f:image src="EXT:mathematicians/Resources/Public/Images/gen-logo.gif"
				         alt="Logo: Mathematics Genealogy Project"/>
			</a>

			<h1>Mathematics Genealogy Project</h1>
		</header>

		<article id="genResult">
			<p>
				<f:translate key="LLL:EXT:mathematicians/Resources/Private/Language/locallang.xml:pi1_gen-intro"/>
			</p>
		</article>
		<article>
			<p>
				<f:translate key="LLL:EXT:mathematicians/Resources/Private/Language/locallang.xml:pi_search-hint"/>
			</p>
		</article>
	</section>
</f:section>
