<f:layout name="Main"/>
<f:section name="Main">

    <f:render partial="SearchForm"/>

    <section class="oberwolfach">
        <header class="collection mathematicians_collection-header">
            <f:link.external uri="http://owpdb.mfo.de" target="_blank">
                <f:image src="EXT:mathematicians/Resources/Public/Images/ow-logo.gif" alt="Logo: Photo Collection Oberwolfach"/>
            </f:link.external>
            <h1>Oberwolfach Photo Collection</h1>
        </header>
        <article id="mycarousel" class="jcarousel-skin-ie7 owResult oberwolfach-result">
           {owResult -> f:format.raw()}
        </article>
    </section>

    <section class="genealogy">
        <header class="collection mathematicians_collection-header">
            <f:link.external uri="http://genealogy.mathematik.uni-bielefeld.de/genealogy/" target="_blank">
                <f:image src="EXT:mathematicians/Resources/Public/Images/gen-logo.gif" alt="Logo: Mathematics Genealogy Project"/>
            </f:link.external>
            <h1>Mathematics Genealogy Project</h1>
        </header>

        <article id="genResult" class="genealogy-result">
            <p>
                {genResult -> f:format.raw()}
            </p>
        </article>
        <article>
            <p>
                <f:format.raw>
                    <f:translate key="LLL:EXT:mathematicians/Resources/Private/Language/locallang.xml:pi_search-hint"/>
                </f:format.raw>
            </p>
        </article>
    </section>
</f:section>
