<f:layout name="Main" />
<f:section name="Main">

	<f:render partial="SearchForm" />
	<div class="clear2"></div>

	<table>
		<tr>

			<td class="collection">
				<a href="http://owpdb.mfo.de" target="_blank">
					<img alt="Logo: Photo Collection Oberwolfach" src="###OWLOGO###"/>

				</a>
			</td>
			<td class="collection">
				Oberwolfach Photo Collection
			</td>
		</tr>
	</table>

	<div id="owResult">
		###OWRESULT###
	</div>
	<table>
		<tr>
			<td class="collection">
				<a href="http://genealogy.mathematik.uni-bielefeld.de/genealogy/" target="_blank">
					<img alt="Logo: Mathematics Genealogy Project" src="###GENLOGO###"/>
				</a>

			</td>
			<td class="collection">
				Mathematics Genealogy Project
			</td>
		</tr>
	</table>

	<div id="genResult">
		###GENRESULT###
	</div>

	<div>
		<p>
			<b>Suche</b>: Die Suche ist eine vorn und hinten trunkierte Suche, z.B. mit der Eingabe
			&apos;<b>diec</b>&apos; erhalten Sie mindestens &apos;Tammo tom <b>Diec</b>k&apos; und &apos;Alexander
			Grothen<b>diec</b>k&apos;. </p>

	</div>
</f:section>
